* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body, html {
    -webkit-print-color-adjust: exact !important;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

body {
    background-image: url("back.png");
    background-size: cover;
}

#chooser, #viewer {
    width: 100%;
    height: 100%;
    margin: 0;
}

#chooser > div, #viewer > div {
    max-width: 900px;
    width: 95%;
    margin: auto;
    background: #ffffffbb;
    padding: 30px;
    height: fit-content;
    backdrop-filter: blur(5px);
}

#chooser, #viewer {
    animation: fadein 0.3s cubic-bezier(0, 0.7, 0, 0.7);
}

.input-field input[type=text]:focus + label {
    color: #000 !important;
}

/* label underline focus color */
.input-field input[type=text]:focus {
    border-bottom: 1px solid #000 !important;
    box-shadow: 0 1px 0 0 #000 !important;
}

#viewer {
    display: none;
}

body {
    font-family: 'NanumSquare', sans-serif;
}

.normal {
    font-weight: 400
}

.bold {
    font-weight: 700
}

.bolder {
    font-weight: 800
}

.light {
    font-weight: 300
}

.openModal {
    cursor: pointer;
}

#table > tr > td {
    height: 65px !important;
    padding: 13px 17px;
}

#stable > tr {
    max-height: 65px;
}

#stable > tr > td:nth-child(1),
#stable > tr > td:nth-child(2) {
    min-width: 50px;
}

td {
    width: auto !important;
    overflow: hidden;
}

.nameLink {
    color: black;
    transition: 0.1s ease-in all;
}

.nameLink:hover {
    color: #039be5;
}

.switch label .lever {
    background-color: #a6a6a6;
}

.switch label input[type=checkbox]:checked + .lever {
    background-color: #a6a6a6;
}

.switch label input[type=checkbox]:checked + .lever:after {
    background-color: #737373;
}

@media screen and (min-width: 600px) {
    .mobile-break {
        display: none;
    }

    #chooser > div, #viewer > div {
        box-shadow: 20px 20px 60px #d9d9d9;
        border-radius: 50px;
        background: #ffffffee;
    }
}

@media print {
    .mobile-break {
        display: none !important;
    }
}

@keyframes fadein {
    0% {
        margin-top: 30px;
        height: calc(100% - 30px);
        opacity: 0;
    }
    100% {
        margin-top: 0;
        opacity: 1;
    }
}

.fout {
    animation: fadeout 0.3s cubic-bezier(0.7, 0, 0.7, 0) !important;
}

@keyframes fadeout {
    0% {
        margin-top: 0;
        opacity: 1;
    }
    100% {
        margin-top: -10px;
        opacity: 0;
    }
}

/* 모달 배경 */
.modall {
    display: none; /* 기본적으로 숨김 */
    position: fixed; /* 화면에 고정 */
    left: 0; /* 화면 왼쪽에 맞춤 */
    top: 0; /* 화면 위쪽에 맞춤 */
    width: 100%; /* 화면 너비에 맞춤 */
    height: 100%; /* 화면 높이에 맞춤 */
    background-color: rgba(0, 0, 0, 0.4); /* 배경색과 투명도 */
}

/* 모달의 내용 */
.modal-content {
    position: absolute;
    padding: 15px;
    box-sizing: border-box;
    border-radius: 15px;
    width: 600px;
    height: 400px;
    background: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 7px 7px 5px rgba(0, 0, 0, 0.2); /*x y 번짐 색상*/
}

/* 모달의 제목 */
.modal-content h2 {
    font-size: 3.5em;
    margin: 0;
    color: #333;
    font-weight: 600;
}

/* 모달의 부제목 */
.modal-content h4 {
    font-size: 2.2em;
    margin: 10px 0;
    color: #555;
    font-weight: 400;
}

/* 모달의 부제목 */
.modal-content h3 {
    font-size: 2.2em;
    margin: 10px 0;
    color: #373737;
    font-weight: 400;
}

/* 모달의 내용 */
.modal-content p {
    font-size: 1.5em;
    color: #666;
    line-height: 1.6;
    margin: 10px 0;
}

/* 모달이 보일 때의 스타일 */
.modall.show {
    display: block;
    opacity: 1; /* 불투명하게 변경 */
}


.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
